
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.centerPosition {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.cardUpdate{
    background-color: var(--colorPrincipal);
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    animation: fadeIn 0.5s;
}