#botonAgregar{
  border-radius: 50%;
  height: 100%;
  width: 100%;
  font-size: 3rem;
  align-items: flex-start;
  background-color: var(--colorAuxiliar4);
  color: white;
}

#containerBotonAgregar{
  display: hidden;
  bottom: 0;
  right: 0;
  height: 4rem;
  width: 4rem;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0 15px 65px 0;
  position: fixed;
  bottom: 0px;
  right: 0px;
}
